DATABASE_URL=
HTTP_LISTEN_ADDR=127.0.0.1:3000

NANO_WORK_SERVER_URL=http://127.0.0.1:17076
NANO_NODE_RPC_URL=http://57.129.16.77:7076
NANO_DEFAULT_REPRESENTATIVE=nano_1natrium1o3z5519ifou7xii8crpxpk8y65qmkih8e8bpsjri651oza8imdd

TWOFA_ENCRYPT_KEY= # [Convert]::ToBase64String((1..32 | ForEach-Object {Get-Random -Maximum 256}) -as [byte[]])
TWOFA_ENCRYPT_IV= # [Convert]::ToBase64String((1..16 | ForEach-Object {Get-Random -Maximum 256}) -as [byte[]])
USER_ENCRYPT_KEY=
USER_ENCRYPT_IV=
API_ENCRYPT_KEY=
API_ENCRYPT_IV=

SMTP_HOST=smtp.privateemail.com
SMTP_PORT=465
SMTP_USER=@ifenpay.com
SMTP_PASS=

TPH_ENABLED=true
TPS_ENABLED=true
DAILY_PEAK_TPS_ENABLED=true
TPS_TRANSACTION_WARNING_THRESHOLD=100
TPS_CRITICAL_TRANSACTION_THRESHOLD=1000
ALERT_EMAIL_RECIPIENTS=andre1987n@live.nl,nieuwpoort1987n@gmail.com

